
.Est.facebook {
    font-size: 13px;
    border-radius: 25px;
    border-color: #3B5998;
    float: none;
    margin-bottom: 5px;
    margin-left: 150px;
    margin-top: -43px;
    display: block;
    padding: 5px 50px 5px 20px;
    background-color: #3B5998;
    color: white;
}


.Est.google {
    font-size: 13px;
    /* font-family: Poppins-Light !important; */
    border-radius: 25px;
    margin: auto;
    margin-bottom: 11px;
    margin-left: -1px;
    margin-top: -43px;
    display: block;
    padding: 5px 50px 5px 20px;
    background-color: #FF2301;
    color: white;
}
