@{
    ViewBag.Title = "Index";
}


<!--===============================================================================================-->
<link href="~/Assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--===============================================================================================-->
<link href="~/Assets/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet">
<!--===============================================================================================-->
<link href="~/Assets/vendor/animate/animate.css" rel="stylesheet">
<!--===============================================================================================-->
<link href="~/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet">
<!--===============================================================================================-->
<link href="~/Assets/vendor/animsition/css/animsition.min.css" rel="stylesheet">
<!--===============================================================================================-->
<link href="~/Assets/vendor/select2/select2.min.css" rel="stylesheet">
<!--===============================================================================================-->
<link href="~/Assets/vendor/daterangepicker/daterangepicker.css" rel="stylesheet">
<!--===============================================================================================-->
<link href="~/Assets/css/util.css" rel="stylesheet">
<link href="~/Assets/css/main.css" rel="stylesheet">
<!--===============================================================================================-->


<div class="container-login100" style="background-image: url('../../Assets/images/medical-wallpaper.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30" style="height:550px; width:690px;">
        <div class="login100-form validate-form">
            <h2 style=" text-align:center;"> <span class="color-defult" style="color:rgba(97,157,177,0.83);">
                Gracias por elegirnos

            </span></h2>
    <p class="text-muted" style=" text-align:center;"><hr /><br /><br />
        En breves momentos su doctor se comunicará con usted para proceder con la visita respectiva.
    </p><br />
</div>
    </div>
</div>


<!-- Testimonial start -->
<section class="testimonial">
    <div class="container">
        <div class="section-title">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Lo que opinan <span class="color-defult">  nuestros clientes</span></h2>
                    <div class="line-border-center bg-defult"></div>
                    <p>Repellendus error placeat numquam doloribus perferendis consequatur maxime molestiae soluta Corporis quidem quaerat accusantium omnis repudiandae nulla recusandae</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial-carousel-one">
                        <div class="item">
                            <div class="testimonial-item text-center">
                                <div class="testimonial-author">
                                    <div class="author-img">
                                        <img class="img-responsive" src="~/Assets/img/testimonial/1.png" alt="" />
                                    </div>
                                    <h4>John Daniel</h4>
                                    <h6>business man</h6>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item text-center">
                                <div class="testimonial-author">
                                    <div class="author-img">
                                        <img class="img-responsive" src="~/Assets/img/testimonial/2.png" alt="" />
                                    </div>
                                    <h4>John Daniel</h4>
                                    <h6>business man</h6>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item text-center">
                                <div class="testimonial-author">
                                    <div class="author-img">
                                        <img class="img-responsive" src="~/Assets/img/testimonial/3.png" alt="" />
                                    </div>
                                    <h4>John Daniel</h4>
                                    <h6>business man</h6>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial end -->
